{% extends "admin.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
<h1>
    Modification contact
</h1>

{{ form_start(form) }}
{{ form_row(form.email, {'label': 'Email', 'attr': {'placeholder': 'Email'}}) }}
<img width="500" src="{{ asset('assets/img/contact/' ~ contact.data.name) }}" alt="Card image">
{{ form_row(form.data.name, {'label': 'Choisir un fichier', 'required': false}) }}
{% do form.data.home.setRendered() %}

<button type="submit" class="btn btn-outline-success">
    Modifier
</button>

{{ form_end(form) }}

{% endblock body %}